* {
    box-sizing: border-box;
}

body {
    background-color: bisque;  
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.game-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    outline: 1px solid white;

    transform: scale(2);
}

.game-container canvas {
    image-rendering: pixelated;
}